{% extends 'content/base.html' %}

{% block header%}
    <h1>{% block title%}Phishing{% endblock %}</h1>
    <link rel="stylesheet" href="{{url_for('static', filename='content/css/black-dashboard.css')}}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
        <Card class="card">
            <CardHeader>
            <h5 class="card-category">Phishing101</h5>
            <CardTitle tag="h3">
                <p>Phishing101 Materials</p>
            </CardTitle>
            </CardHeader>
            <CardBody>
            <div class="material-details">
                <p>Videos</p>   
            </div>
            </CardBody>
            <CardFooter>
                <a href="/content/uploads" class="btn btn-primary">Videos</a>
            </CardFooter>
        </Card>
        </div>
        <div class="col-lg-4">
        <Card class="card">
            <CardHeader>
            <h5 class="card-category">Phishing101</h5>
            <CardTitle tag="h3">
                <p>Phishing101 Materials</p>
            </CardTitle>
            </CardHeader>
            <CardBody>
            <div class="material-details">
                <p>Infographics</p>   
            </div>
            </CardBody>
            <CardFooter>
                <a href="/admin/Phishing101" class="btn btn-primary">Infographics</a>
            </CardFooter>
        </Card>
        </div>
        <div class="col-lg-4">
        <Card class="card">
            <CardHeader>
            <h5 class="card-category">Phishing101</h5>
            <CardTitle tag="h3">
                <p>Phishing101 Materials</p>
            </CardTitle>
            </CardHeader>
            <CardBody>
            <div class="material-details">
                <p>Posters</p>   
            </div>
            </CardBody>
            <CardFooter>
                <a href="/admin/Phishing101" class="btn btn-primary">Posters</a>
            </CardFooter>
        </Card>
        </div>
    </div>              
</div>
{% endblock %}






